* {
  margin: 0 ;
  padding: 0 ;
  
}
 

:root {
    --couleur-primaire-1: #14142d; 
    --couleur-primaire-2: #838c9a; 
    --couleur-primaire-3: #ffffff; 
    --couleur-primaire-4: #365CF5; 
    --couleur-primaire-5: #1D1D43; 
    --couleur-primaire-6: #242460; 
      
  }

 